@import 'normalize.css';

:root {
  --primary-color: #49C514;
  --secondary-color: #4C8434;
  --tertiary-color: #226A04;
  --accent-color: #88EB5D;
  --highlight-color:  #AFEB95;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, var(--highlight-color), var(--accent-color), var(--primary-color), var(--secondary-color), var(--tertiary-color));
}

.container {
  width: 100%; /* Зафіксована ширина контенту */
  margin: 0 auto; /* Вирівнює контент по центру */
  padding: 0 15px; /* Встановлює відступи зліва та справа */
}

.navbar {
  background-color: var(--tertiary-color);
}

.navbar a {
  color: #ffffff;
}

.bg-1 {
  background-color: var(--primary-color);
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bg-2 {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bg-3 {
  background-color:var(--tertiary-color);
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.rozklad {
  background-color:linear-gradient(to bottom, var(--highlight-color), var(--accent-color), var(--primary-color), var(--secondary-color), var(--tertiary-color));
  color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
}

.card {
  background-color: var(--accent-color);
  margin-bottom: 20px;
}

.card-text{
  color: #ffffff;
}
.card-date,
.card-title,
.btn {
  color: #ffffff;
}

.btn-primary {
  background-color: var(--tertiary-color);
  border-color: var(--tertiary-color);
}

.btn-primary:hover {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.table {
  background-color: white;
}
